<%- include("header"); -%>
<h2>About</h2>
<p>
  This is Version 2.0 of my to-do list app. Added The ability to permanently store and remove items and create custom lists.
  </p>
  <p>Built on Node using Express JS and EJS. Data is now stored using mongoDB and mongoose.</p>
<%- include("footer"); -%>
